
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Index</title>
    <meta charset="utf-8" />
</head>
<body style="background-color:#9b9b9b;">
    <h1>Menu</h1>

    <table border="1">

        <tr><th>Nombre</th><th>Duración</th><th>Imagen</th><th>Descripcion</th><th>Horario</th></tr>

        <tr>
            <td>El Gran Lebowsky</td>
            <td>120 minutos</td>
            <td><img src="imagenes/1.jpg" /></td>
            <td>Peliculon de los hermanos Cohen</td>
            <td>21 hs</td>
        </tr>

        <tr>
            <td>Los Sospechosos de Siempre</td>
            <td>120 minutos</td>
            <td><img src="imagenes/1.jpg" /></td>
            <td>Ganadora del Oscar</td>
            <td>17 hs</td>
        </tr>

    </table>
    <div>
        <a href="/Cine/Agregar/">Agregar Película</a>
        <br />
        <a href="/Cine/Listar/">Listar Películas</a>
    </div>

</body>
</html>


